.ball-chasing .loader {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}
.ball-chasing .loader .ball-1, .ball-chasing .loader .ball-2 {
  position: absolute;
  top: 0;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  animation: chasingBallBounce 2s linear infinite;
}
.ball-chasing .loader .ball-2 {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes chasingBallBounce {
  50% {
    transform: scale(0);
  }
}
.ball-pulse .loader {
  width: 100px;
  height: 100px;
}
.ball-pulse .ball {
  margin: 25% 0 0 25%;
  width: 50%;
  height: 50%;
  background-color: #FFF;
  border-radius: 50%;
  animation: ballPulse 2s ease-in-out infinite;
}

@keyframes ballPulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.ball-pulse-double .loader {
  width: 100px;
  height: 100px;
}
.ball-pulse-double .ball-1, .ball-pulse-double .ball-2 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: #FFF;
  border-radius: 50%;
  animation: ballPulseDouble 2s ease-in-out infinite;
  opacity: .5;
}
.ball-pulse-double .ball-2 {
  animation-delay: -1s;
}

@keyframes ballPulseDouble {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.wave .loader {
  width: 100px;
  height: 100px;
}
.wave .loader > div {
  float: left;
  margin: 40% 2% 0 0;
  width: 4%;
  height: 16%;
  background-color: #FFF;
  animation: wave 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) infinite;
}
.wave .loader .line-1 {
  margin-left: 30%;
}
.wave .loader .line-1 {
  animation-delay: 0.1s;
}
.wave .loader .line-2 {
  animation-delay: 0.2s;
}
.wave .loader .line-3 {
  animation-delay: 0.3s;
}
.wave .loader .line-4 {
  animation-delay: 0.4s;
}
.wave .loader .line-5 {
  animation-delay: 0.5s;
}

@keyframes wave {
  0%,100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
.wave-spread .loader {
  width: 100px;
  height: 100px;
}
.wave-spread .loader > div {
  float: left;
  margin: 40% 2% 0 0;
  width: 4%;
  height: 16%;
  background-color: #FFF;
  animation: wave 1s cubic-bezier(0.85, 0.25, 0.37, 0.85) infinite;
}
.wave-spread .loader .line-1 {
  margin-left: 30%;
}
.wave-spread .loader .line-1, .wave-spread .loader .line-5 {
  animation-delay: .4s;
}
.wave-spread .loader .line-2, .wave-spread .loader .line-4 {
  animation-delay: .2s;
}

.circle-pulse .loader {
  width: 100px;
  height: 100px;
}
.circle-pulse .loader > div {
  margin: 23px 0 0 23px;
  width: 50%;
  height: 50%;
  border: 2px solid #FFF;
  border-radius: 50%;
  animation: circlePulse 1s ease infinite;
}

@keyframes circlePulse {
  0% {
    transform: scale(0.1);
  }
  80% {
    opacity: .8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.circle-pulse-multiple .loader {
  width: 100px;
  height: 100px;
}
.circle-pulse-multiple .loader > div {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 50%;
  height: 50%;
  border: 2px solid #FFF;
  border-radius: 50%;
  animation: circlePulse 1s ease infinite;
}
.circle-pulse-multiple .loader .circle-2 {
  animation-delay: -.9s;
}
.circle-pulse-multiple .loader .circle-3 {
  animation-delay: -.8s;
}

@keyframes circlePulse {
  0% {
    transform: scale(0.1);
  }
  80% {
    opacity: .8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.arc-rotate .loader {
  width: 100px;
  height: 100px;
}
.arc-rotate .loader > div {
  position: absolute;
  border: 2px solid;
  border-color: transparent #FFF;
  border-radius: 50%;
  animation: load 1s infinite ease-in-out;
}
.arc-rotate .loader .arc-1 {
  margin: 32% 0 0 32%;
  width: 36%;
  height: 36%;
}
.arc-rotate .loader .arc-2 {
  margin: 40% 0 0 40%;
  width: 20%;
  height: 20%;
  animation-direction: reverse;
  animation-delay: -0.5s;
}

@keyframes load {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.square-split .loader {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}
.square-split .loader > div {
  float: left;
  width: 50%;
  height: 50%;
}
.square-split .loader > div::after {
  content: '';
  display: block;
  margin: 50% 0 0 50%;
  width: 50%;
  height: 50%;
  background: #FFF;
  animation: squareSplit 2s infinite ease-in-out alternate;
}
.square-split .loader .square-2 {
  transform: rotate(90deg);
}
.square-split .loader .square-3 {
  transform: rotate(270deg);
  animation-direction: reverse;
}
.square-split .loader .square-4 {
  transform: rotate(180deg);
  animation-direction: reverse;
}

@keyframes squareSplit {
  10% {
    transform: rotate(0deg);
    margin: 50% 0 0 50%;
  }
  50% {
    transform: rotate(90deg);
    margin: 0px;
  }
  90% {
    transform: rotate(180deg);
    margin: 50% 0 0 50%;
  }
  100% {
    transform: rotate(180deg);
    margin: 50% 0 0 50%;
  }
}
#loaders::before, #loaders::after {
  content: "";
  display: table;
}
#loaders::after {
  clear: both;
  overflow: hidden;
}

.loader-container .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4169E1;
}

#loaders {
  margin: 0 auto;
  width: 800px;
}

.loader-container {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
}
