@import '../base';
$border-width: 4px;
$compensation: 2px;

.arc-scale {
	.loader {
		width: $loader-width;
		height: $loader-height;

		.arc {
			position: relative;
			margin: 25% 0 0 25%;
			width: 50%;
			height: 50%;
			border: $border-width solid $loader-color;
			border-radius: 50%;
			animation:rotate $loader-duration * 1.45 infinite linear;
		}
		.arc::before, .arc::after {
			content: '';
			position: absolute;
			top: -($border-width+1px);
			width: $loader-width *.25 + $border-width + $compensation * 2;
			height: $loader-height *.5+ $border-width * 2 +$compensation * 2;
			background-color: #4169E1;
			animation: rotate $loader-duration infinite ease;
		}
		.arc::before {
			left: -($border-width+$compensation);
			transform-origin: ($loader-width *.25 + $border-width) ($loader-height *.25 + $border-width);
		}
		.arc::after {
			left: ($loader-width *.25+$compensation);
			transform-origin: 0 ($loader-height *.25 + $border-width);
			animation-delay: $loader-duration * .25;
		}
	}
}