@import '../base';

.ball-chasing {
	.loader {
		width: $loader-height;
		height: $loader-height;
		animation: rotate $loader-duration linear infinite;

		.ball-1, .ball-2 {
			position: absolute;
			top: 0;
			width: 60%;
			height: 60%;
			border-radius: 50%;
			background-color: #fff;
			animation: chasingBallBounce $loader-duration linear infinite;
		}
		.ball-2 {
			top: auto;
			bottom: 0;
			animation-delay: -$loader-duration/2;
		}
	}
}

@keyframes chasingBallBounce {
	50% {
		transform: scale(0);
	}
}
