@import '../base';
$loader-duration:1s;

.wave {
	.loader {
		width: $loader-height;
		height: $loader-height;
		
		>div {
			float:left;
			margin:40% 2% 0 0;
			width: 4%;
			height: 16%;
			background-color: $loader-color;
			animation: wave $loader-duration cubic-bezier(.2,.68,.18,1.08) infinite;
		}
		.line-1{
			margin-left:30% ;
		}
		@for $i from 1 through 5{
			.line-#{$i}{
				animation-delay: $i  * .1s;
			}
		}
	}
}
@keyframes wave {
	0%,100%{
		transform: scaleY(1);
	}
	50%{
		transform: scaleY(2);
	}
}